
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #fff;
  align-items: center;
  padding: 0 5%;
}
